<!DOCTYPE html>
<html>
  <head>
    <title> Jovian Careers</title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Roboto;
        font-weight: Normal;
        color: rgb( 200,200,200);
       text-aligncenterr;
      }
      #banner {
        width: 100%;
        height: 360px;
        object: fit;
      }
      h2{
        font-family:Roboto;
        font-size: 32px;
        color: rgb(100, 100, 100);
      }
      #container{
        max: width; 720px;
        margin 0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id = container>
      <h1>Jovial Careers</h1>
      <img id = "banner" src = "/static/monke.jpeg" height = "320">
      <h2>about Jovian</h2>
      <p>
      In today's rapidly evolving technological landscape, staying ahead of the curve is essential for both individuals and businesses. Embracing new technologies not only enhances efficiency but also opens up innovative avenues for growth and development. By leveraging cutting-edge tools and methodologies, organizations can streamline their operations, improve customer satisfaction, and gain a competitive edge. Similarly, individuals who invest in learning and adapting to technological advancements position themselves for success in a dynamic job market. The integration of technology into everyday processes has become more than just an advantage; it's a necessity for thriving in the modern world.
      </p>
      <h2> Open Positions</h2>
      <p> TODO -  show jobs here</p>
    </body>
</html>